body {
  background-color: #f2f9f1;
  font-family: "Roboto", sans-serif;
}

.a {
  color: #b6cdbd;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 15px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #b6cdbd;
  padding: 0 0 30px 0;
}

.search-input {
  background-color: #f2f9f1;
  border: none;
  border-radius: 5px;
  width: 75%;
  font-size: 15px;
  padding: 15px 20px;
}

.search-button {
  background-color: #b6cdbd;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 15px 40px;
  margin-left: 5px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 65px;
}

.weather-details {
  font-size: 16px;
  color: #b2b2b4;
  line-height: 24px;
  font-weight: 400;
}

.weather-details strong {
  color: #5c715e;
}

.weather-temp-container {
  display: flex;
}

.weather-icon {
  font-size: 50px;
  line-height: 80px;
}

.weather-temp {
  font-size: 80px;
}

.weather-unit {
  margin-top: 15px;
  font-size: 30px;
}

footer {
  border-top: 1px solid #b6cdbd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: #c1c1c3;
}
